---
import PostList from '../../components/PostList.astro';
import Layout from '../../layouts/Layout.astro';
import { getBlogPosts } from '../../content.config';
import Title from '../../components/Title.astro';

const posts = await getBlogPosts();
---

<Layout title="Retrocast's blog" description="List of blog posts">
  <Title>List of blog posts</Title>
  <p class="pb-2">TODO: improve blog</p>
  <PostList {posts} />
</Layout>
