---
const LINKS = [
  { title: 'HOME', href: '/' },
  { title: 'BLOG', href: '/blog/' }
];
---

<div class="mx-auto w-full max-w-screen-lg px-4 py-6">
  <div class="flex justify-between">
    <div class="text-3xl font-bold">
      <a href="/" class="no-def-link">Retrocast<span class="opacity-20">.top</span></a>
    </div>
    <div class="flex items-center">
      <nav>
        <ul class="flex flex-col flex-wrap min-[400px]:flex-row min-[400px]:gap-2">
          {
            LINKS.map((x) => (
              <li>
                <a
                  href={x.href}
                  class={
                    (
                      x.href == '/'
                        ? x.href == Astro.url.pathname
                        : Astro.url.pathname.includes(x.href)
                    )
                      ? 'font-extrabold underline'
                      : ''
                  }
                >
                  {x.title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</div>
