---
import PostCard from './PostCard.astro';
import type { BlogPost } from '../content.config';

export interface Props {
  posts: BlogPost[];
}
const { posts } = Astro.props;
---

<div class="grid grid-cols-3 gap-4">
  {posts.map((post) => <PostCard {post} />)}
</div>
