---
import Layout from './Layout.astro';
import { formatDate } from '../utils/blog';
import type { BlogPost } from '../content.config';
import Title from '../components/Title.astro';

export interface Props {
  post: BlogPost;
}
const { post } = Astro.props;

let date = formatDate(post.data.date);
---

<Layout title={`${post.data.title} | Retrocast's blog`} description={post.data.description}>
  <Title>{post.data.title}</Title>
  <p class="pb-6 text-center text-sm text-gray-400">
    Posted on {date}
  </p>
  <div
    class="prose prose-figcaption:text-center prose-a:no-underline prose-img:mx-auto prose-headings:m-1 prose-invert prose-img:rounded-lg prose-img:shadow-primary/30 prose-img:shadow-xl max-w-none text-base text-white"
  >
    <slot />
  </div>
</Layout>
