---
import Head from '../components/Head.astro';
---

<!doctype html>
<html lang="en">
  <Head title="Test" description="Hello, world" />
  <body class="flex min-h-screen bg-[#1f0034] font-mono text-white">
    <slot />
  </body>
</html>
